form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aquamarine;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}